body {
    margin: 0;
    padding: 0px;

    overflow: hidden;

    display: flex;

    align-items: top;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    padding: 2px;
    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

nav button {
    padding: 5px;

    width: 120px;
    margin-left: 10px;
    margin-right: 10px;

    background-color: #fff;
    color: #000;
}

nav button:hover {
    background-color: #eee;
}
