body {
    margin: 0;
    padding: 0px;

    overflow: hidden;

    display: flex;

    align-items: top;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    font-family: "Berkeley Mono", monospace;
}

main {
    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-bar {
    padding: 2px;
    margin: 3px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
}

.menu-btn {
    padding: 5px;

    width: 120px;
    margin-left: 10px;
    margin-right: 10px;

    background-color: #fff;
    color: #000;
    border: 4px solid #eee;

    font-size: large;
}

@media (max-width: 900px) {
    .menu-btn {
        font-size: small;
    }
}

.menu-btn:hover {
    border-bottom: 4px solid #aaa;
}

.menu-btn:active {
    border-bottom: 4px solid #000;
}

.table-editor {
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: center;

    width: 100%;
    height: 100%;
}
