#tab-window {
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;
    border: 2px solid black;
}

.tab-win {
    display: none;
    padding: 0;
    margin: 0;

    height: 100%;
    width: 100%;
}

div.tab-show {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.tab-show {
    text-decoration: underline;
}
